.login-bg{
	background-image: url('../img/.svg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.login-wrap{
	width: 100%;
	height: 100%;
	position: relative;
}

.login{
	background-color: rgba(255, 255, 255, 0.61);
	color: #000000;
	border: 1px solid #f0f0f0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 200px;
	margin: -100px 0 0 -200px;
}

.login .logo{
	display: inline-block;
	width: 60%;
	max-width: 150px;
	margin: 5% 2% 0 2%;
}

.capt{
	margin: 5% 0;
}

.login article{
	width: 33.33%;
	text-align: center;
	color: #000000;
	float: left;
}

.login article:hover{
	color: #9c9c9c;
	transition: 0.3s ease-in-out;
}

.opt-wrap{
	padding: 2%;
	margin-top: 25px;
	overflow: auto;
	padding: 0 3%;
}

.login-wrap footer{
	display: none !important;
}

#clientappform,#moodboardform,#adminform{
	display: none;
}

.adminform form{
	width: 100%;
	margin-top: 1%;
	margin: 0 auto;
	padding: 3% 10% 0 10%;
}


.adminform form p{
	font-size: 12px;
	color: #4d4d4d;
	font-weight: 900;
	text-transform: uppercase;
}

.adminform form select{
	margin: 1% 0 2% 0 !important;
	background: url('../img/admin-arrow.svg') no-repeat right #ddd;
}

.adminform form select:focus{
	outline: none;
}

.adminform form input[type=text],.adminform form input[type=password],.adminform form textarea,.adminform form select{
	width: 100%;
	background-color: #ffffff ;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	margin: 0% 0 2% 0;
	color: #404040;
	font-size: 14px;
	font-weight: 300;
	padding: 1% 2%;
	resize: none;
	font-family: 'proxima-nova', sans-serif;
	-webkit-appearance: none;
}

.adminform form button{
	float: left;
	background-color: #3DB9CA;
	border: none;
	border-bottom: 2px solid #33a3b2;
	padding: 1% 4%;
	text-align: center;
	color: #ffffff;
	display: inline-block;
	font-family: 'proxima-nova', sans-serif;
	float: right;
}

#adminform form{
	padding: 1% 10% 0 10%;
	
}

.login .mblogo,.login .adminlogo,.login .calogo{
	display: none;
}

.back-wrap{
	position: relative;
}

.back{
	position: absolute;
	padding: 4%;
	color: #6d6d6d;
	display: none;
}

#moodboardform form{
	padding-top: 10%;
}
